body{
    font-family: 'Arvo', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Poppins', sans-serif;

}

.miss-2022{
    font-size: 60px;
    border-left: 5px solid purple;
    padding-left: 8px;
    
}

.color-full{

color: coral;

}


.mission-2022{

display: flex;

}
.width-adjust{

width: 50%;
padding: 5%;

}
.width-adjust img{
width: 80%;
}
.link-color{
text-decoration: none;
background-image: linear-gradient(#e66465, #9198e5);
height: 48px;
width: 172px;
left: 156px;
top: 418px;
border-radius: 5px;
padding: 10px 25px;
color: rgb(255, 255, 255);
border-radius: 8px;
margin-top: 50px;
}
h5{
padding-top: 10px;

}
.second-mission{
font-size: 40px;
text-align: center;
padding-top: 5%;
}

.fexible-cont{
display: flex;
padding-left: 5%;
}
.mission{
background-color: rgb(248, 192, 182);
width: 20%;

padding: 5%;
border: 15px solid white;
border-radius: 25px;
}
.mission img{

    width: 50%;
}

.vission{
background-color: rgb(191, 245, 239);
width: 20%;
padding: 5%;
border: 15px solid white;
border-radius: 25px;
}
.vission img{

    width: 50%;
}

.goals{

    background-color: rgba(248, 182, 243, 0.945);
    width: 20%;
    padding: 5%;
    border: 15px solid white;
    border-radius: 25px;
}
.goals img{

    width: 50%;
}
.flexible-container{
background-image: url(images/images/shape-1.png);
background-size: 250px;
background-repeat: no-repeat;
background-position: left;
    display: flex;
    margin-bottom: 200px;
    justify-content: space-evenly;
    
}
h2{
font-size: 40px;
margin-right: 60%;
}
.half-width{
    width: 50%;
    padding: 6%;
    }
    .half-width img{
    width: 100%;
    
    }
    .dev-limit{
     text-align: left;
margin-top: 30px;
    }
    .community-flex{
display: flex;

}
.last-width{
width: 50%;
padding-left: 5%;
}
.last-width img{

width: 80%;

}
.web-dev{
width: 40%;

background-color: rgb(191, 245, 239);
margin-left: 5%;
margin-right: 2%;
    box-shadow: 10px 10px 40px rgb(71, 135, 151);
padding: 5%;
border-radius: 20px;

}
#background{
    background-color: black;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
    height: 150px;
    margin-top: 10%;
    }

#last-mission{

color: blanchedalmond;
margin-top: 10%;
}
#last-text{
padding-bottom: 0px;

}



footer{
color: blanchedalmond;
text-align: calc(justify);
}
